*{
	margin: 0;
	padding: 0;
}
body{
	width: 100vw;
	height: 100vh;
	font-size: 0.15rem;
	background-color: rgb(44,62,80);
}
 
 
.box2{
	position: relative;
	width: 1230px;
	height: 670px;
	margin: 20px auto;
	overflow: hidden;
	box-shadow: 10px 10px 99px 6px rgba(1,2,3,1);
}
.box2::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: rgba(255,255,255,.5);
	bottom: 50px;
	z-index: 11;
}
.box .main{
	position: absolute;
	top: 0;
	left: 0;
	width: 1230px;
	height: 670px;
 
	
}
 
label{
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: rgba(255,255,255,.3);
	cursor: pointer;
	bottom: 35px;
	border-radius: 50%;
	left: calc((var(--i) - 1) * 120px + 210px);
	transition: all 1s;
	z-index: 12;
	
}
label:hover{
	background-color: rgba(255,255,255,.7);
}
 
input[type=radio] {
    transform : translateY(-900px);
    opacity: 0;
}
 
input[type=radio]:checked+label{
	background-color: #fff;
	box-shadow: 0 0 0 6px rgba(255, 255, 255, .5);
}
.image{
	position: absolute;
	top: 0;
	left: 0;
	width: 1230px;
	height: 670px;
}
.image img{
	position  : absolute;
	transform : translateX(1230px);
	transition: all .5s;
}
input[type=radio]:checked~.image img {
    transform: translateX(0px);
    z-index  : 9;
}
.image .title{
	position: relative;
	width: 300px;
	height: 670px;
	background-color: rgba(255,254,253,.1);
	z-index: 10;
	float: right;
	left: 0;
	transform: translateX(300px);
	transition: all .5s;
}
 
 
@font-face {
	font-family:wocao;
	src: url(font/1234.ttf);
}
 
.image .title h1{
	text-align: center;
	width: 300px;
	height: 60px;
	margin: 20px 0 20px 0;
	color: rgb(201,197,195);
	font-family:wocao;
	font-size: 50px;
}
.image .title p{
	text-indent: 2em;
	font-size: 20px;
	color: rgb(201,197,195);
	font-weight: 300;
	font-family:wocao;
}
 
 
input[type=radio]:checked~.image .title{
    transform: translateX(0px);
 
}