<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/2.6.14/vue.js" type="application/javascript"></script>
</head>
<body>
    <div id="app">
        <!-- 父传子,传复杂数据类型 -->
        <child v-for="item in list" :item="item"></child>
    </div>
</body>
<script>
    // 商品单项
    // vue组件通信,注意
    // 1. 单向数据流,子组件不能只就修改父组件的数据,vue他会报错
    Vue.component('child', {
        props:['item'],
        template: `
            <div>
                <input type="checkbox" v-model="item.is_selected">
                - {{item.goods_name}}
                - <button @click="item.goods_num--"> -1 </button>
                - {{item.goods_num}}
                - <button @click="item.goods_num++"> +1 </button>
            </div>
        `
    })
    new Vue({
        el: '#app',
        data(){
            return {
                list: [
                    {goods_name: '商品1', goods_num: 1, is_selected: false},
                    {goods_name: '商品2', goods_num: 1, is_selected: false}
                ]
            }
        }
    })
</script>
</html>